<h1>Last known locations</h1>
<div *ngIf="resultMessage">
    <p>Result: {{resultMessage}}</p>
</div>
<button class="btn btn-success" (click)="getLocations()">Load locations</button>
<br>
<div *ngIf="locations">
    <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let location of locations"> 
            <td>{{location.username}}</td>
            <td>{{location.latitude}}</td>
            <td>{{location.longitude}}</td>
          </tr>
        </tbody>
      </table>
      <p>available: {{locations.length}}</p>
</div>
