<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">Geoloc</a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown02" ngbDropdownToggle>Location</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/locate']">Locate</a>
          <a class="dropdown-item" [routerLink]="['/last']">Last-known</a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Account</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/register']">Register</a>
          <a class="dropdown-item" [routerLink]="['/login']">Login</a>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link"><span class="badge badge-success">{{username()}}</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
