<div class="loading-indicator justify-content" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<form #f="ngForm" (ngSubmit)="loginUser(f)" class="offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-3 col-sm-6">

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" required name="email" class="form-control" placeholder="Email" ngModel>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
    </div>

    <div class="form-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Login</button>
    </div>

</form>