<form #f="ngForm" (ngSubmit)="loginUser(f)">

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" required name="email" class="form-control" placeholder="Email" ngModel>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>

    <div *ngIf="resultMessage">
        <strong>Result:</strong> {{resultMessage}}
    </div>
    
    <div *ngIf="authToken() && userId()">
        <strong>User name: </strong> {{userName()}}<br />
        <button (click)="logoutUser()" class="btn btn-danger">Logout</button>
    </div>
</form>
