#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index:0;
}

#mapMenu {
    position: absolute;
    right: 0px;
    z-index: 15;
    max-width: 180px;
    min-height: 250px;
}

mat-card {
    min-height: 175px;
    bottom: 0px;
}

section {
    text-align: left;
    height: 30px;
}