<form #f="ngForm" (ngSubmit)="registerUser(f)">

    <div class="form-group">
        <label for="first-name">First name</label>
        <input id="first-name" type="text" required name="firstName" class="form-control" placeholder="Your first name" tmFocus ngModel>
    </div>

    <div class="form-group">
        <label for="last-name">Last name</label>
        <input id="last-name" type="text" required name="lastName" class="form-control" placeholder="Your last name" ngModel>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" required name="email" class="form-control" placeholder="Email" ngModel>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>

</form>
